<div class="main" dir="rtl">
    <div class="danel-margin header">
      <div class="header-right">
          <img src="../../assets/top-header-logo.png">
          <h2 class="danel-main-header" i18n>header</h2>
          <h5 class="danel-main-header" i18n>secondary-header</h5>
      </div>
      <div class="header-left header-mng">
        <span>
            <img src="../../assets/User.png">
        </span>
        
        <span class="header-mng-select">
          <select class="custom-select">
            <option selected="">Open this menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </span> 
      </div>
      
      <div class="data-date">
        badge
      </div>
  
    </div>
  
    <div class="menu">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
    </div>
  
    <div class="danel-margin content">
        content
    </div>
  
    <div class="footer">
        footer
    </div>
  </div>