.login-grid{
  margin: 10em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: stretch;
  grid-column-gap: 5em;
}

.login-grid-item{
    margin: 0;
}

.login-subgrid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
}

.login-subgrid-item1{
    justify-self: start;
}

.login-subgrid-item2{
    justify-self: end;
}

.login-subgrid-input{
    grid-column: 1 / span 2;
}

.login-subgrid-input > input{
    width: 100%;
}

.login-grid-item > h4{
    text-align: right;
}

.login-grid-item > p{
    text-align: right;
}