.login-grid{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 50px auto;
   margin: 50px;
   justify-items: center;
   grid-gap: 0px 30px;
}

.login-box{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border: 1px solid black;
    justify-self: stretch;
    padding: 10px;
}

.register-box{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 1px solid black;
    justify-self: stretch;
}

.login-box-title{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: start;
}

.login-box-title > h5{
    display: inline;
}

.register-box-title{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: start;
}

.inner-grid{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: repeat(3, 40px);
}

.login-input{
    grid-column: 1 / span 2;
}

.login-show-pass{
    justify-self: start;
}

.login-forgot{

}

.login-btn{
    
}



 .btn-container{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position:relative;
  }

.btn-container > button{
    position: absolute;
    bottom:   0;
    left: 0;
  } 