<div class="container">
  <div class="row">
    <div class="col">
      <div class="card border-light mb-3">
        <div class="card-header">
          <img src="../../assets/holdings-page-icon.png">
          <h2>
          כניסה
          </h2>
        </div>
        <div class="card-body">
          <h4 class="card-title">Light card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-light mb-3">
        <div class="card-header">
          <img style="display: inline;" src="../../assets/holdings-page-icon.png">
          <h2 style="display: inline;">
          רישום
          </h2>
        </div>
        <div class="card-body">
          <h4 class="card-title">Light card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>



