<div i18n-dir dir="rtl" style="align-self: center;align-self: center">
  <header class="top-header">
    <div>
    <img src="../assets/top-header-logo.png">
    <h1>דנאל</h1>
    <h2> | ניהול תיקי השקעות</h2>
    </div>    
  </header>

  <hr>

  <app-navbar *ngIf="service.user"></app-navbar>

  <footer>
    <div class="danel-footer">
      <div class="components-wrapper">
        <div class="logo-wrapper">
          <img style="height: 40px;" src="../assets/danel_logo.png">
        </div>
        <span class="links-wrapper">
          <a>תנאי שימוש</a>
          |
          <a>מדיניות פרטיות</a>
          |
          <a>דנאל</a>
        </span>
      </div>
    </div>
  </footer>

</div>