<div class="main">
  <div class="title">dashboard-title</div>
  <div class="account-select">account-select</div>
  <div class="summary">
    <div class="pf-info">
      <div i18n>acc-name</div>
      <div>2</div>
      <div i18n>bank-name</div>
      <div>4</div>
      <div i18n>policy-name</div>
      <div>6</div>
    </div>
    <div>
      <div i18n class="summary-title">pf-value</div>
      <div class="summary-value">1000</div>
    </div>
    <div>
      <div i18n class="summary-title">yield-soy</div>
      <div class="summary-value">1000</div>
    </div>
    <div>
      <div i18n class="summary-title">yield-12m</div>
      <div class="summary-value">1000</div>
    </div>
    <div>
      <div i18n class="summary-title">yield-36m</div>
      <div class="summary-value">1000</div>
    </div>
  </div>
  <div class="charts">
    <div i18n class="chart-title">chart-holdings-title</div>
    <div i18n class="chart-title">chart-yields-title</div>
    <div class="chart-area">
      <app-holdings-chart></app-holdings-chart>
    </div>
    <div class="chart-area">
      <app-yields-chart></app-yields-chart>
    </div>
    <div class="chart-link"><a i18n routerLink="/holdings">chart-holdings-link</a></div>
    <div class="chart-link"><a i18n routerLink="/yields">chart-yields-link</a></div>
  </div>
  <div class="holdings">holdings</div>
</div>