.header { grid-area: header; }
.menu { grid-area: menu; }
.content { 
  grid-area: content; 
  background-color: lightyellow;
}
.footer { 
  grid-area: footer; 
  background-color: lightgrey;
}

.grid-container {
  display: grid;
  grid-template-areas:
    '. header header header header .'
    'menu menu menu menu menu menu'
    '. content content content content .'
    'footer footer footer footer footer footer';
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 130px auto 1fr 100px;
  grid-gap: 0px;
  padding: 0px;
  height: 100%;
}

.header{
  display: grid;
  grid-template-columns: 130px 400px auto;
  grid-gap: 0px;
  /* grid-template-areas:
    'logo main-header secondary-header acc-manager'
    'logo data-date data-date data-date'; */
    
}

.title{
  justify-self: start;
  align-self: center;
}

.title > h2{
  display: inline;
}

.title > h4{
  display: inline;
}

.header > div{
}

.data{
  display: grid;
  grid-auto-rows: auto auto;
}

.acc-manager{
  justify-self: end;
}

.acc-manager> h4{
  display: inline;
  padding: 10px;
}

.acc-manager> select{
  display: inline;
}

.data-date{
  justify-self: end;
}

.menu{
  display: grid;
  grid-template-areas: 
  '. nav nav nav profile .';
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0px;
}

.nav-links{
  grid-area: nav;
  justify-self: start;
}

.profile{
  grid-area: profile;
  justify-self: end;
}

.footer{
  display: grid;
  grid-template-areas: 
  '. footer-links footer-links footer-links danel-logo .';
  grid-template-columns: repeat(6, 1fr);
}

.danel-logo{
  grid-area: danel-logo;
  justify-self: end;
  align-self: center;
}

.danel-logo > img{
  width: 200px;
  height: 50px;
}

.footer-links{
  grid-area: footer-links;
  justify-self: start;
  align-self: center;
}