<div class="main" dir="rtl">
  <div class="danel-margin header">
    <div class="header-right">
        <img src="../../assets/top-header-logo.png">
        <h2 class="danel-main-header" i18n>header</h2>
        <h5 class="danel-main-header" i18n>secondary-header</h5>
    </div>
    <div class="header-left header-mng">
      <img src="../../assets/User.png">
      <select>
        <option value="">XXXXX</option>
      </select>
    </div>
      
  </div>

  <div class="menu">
      menu
  </div>

  <div class="danel-margin content">
      content
  </div>

  <div class="footer">
      footer
  </div>
</div>